@model BookStoreDemo.Models.Views.V_Books

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>V_Books</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTacGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTacGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNXB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNXB)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
