@model IEnumerable<BookStoreDemo.Models.Views.V_Books>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh mục các cuốn sách</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNXB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var stringids = ""; var count = 0; double tongtien = 0; }
        @foreach (var item in Model)
        {
            count++;
            tongtien += item.DonGia * item.ID;
            if (count < Model.ToList().Count)
            {
                stringids += item.ID + ",";
                
            }
            else
            {
                stringids += item.ID;
              }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNXB)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>|
                    <a asp-action="BuyOne" asp-route-idbook="@item.ID">Bye One</a>
                </td>
            </tr>
        }
        <a asp-action="BuyAll" asp-route-buyingList="@stringids" asp-route-tongtien="@tongtien">Bye All</a>
    </tbody>
</table>
